@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@647&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #f6f6f6;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 647;
    font-style: normal;
    font-size: 1.4em;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
}


h2, p {
    text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.304);
    color: black;
    padding: 15px;
    text-align: center;
    
}
section {
    background-color: #c9cccc;
    width: 500px;
    height: 650px;
    border-radius: 20px;
    border: 6px solid rgb(4, 186, 4);
}
div#msg {
    padding-top: 20px;
}
div#borda label {
    border: 3px solid rgb(9, 207, 9);
    padding: 6px;
    border-radius: 12px;
    background-color: #f6f6f6;
}
input#txtano {
    padding: 10px;
    border-radius: 10px;
    width: 100px;
}

input#botao {
    padding: 15px;
    font-size: 0.8em;
    border-radius: 10px;
    background-color: rgb(11, 224, 11);
}
input#botao:hover {
    padding: 20px;
    
}
img {
    border-radius: 50%;
    width: 280px;
    height: 280px;
    margin: 20px;
    object-fit: cover;
    border: 8px solid #002966;
    outline: 8px solid;
    
}
footer > p {
    background-color: rgba(39, 212, 39, 0.679);
    height: 65px;
    width: 410px;
    margin: auto;
    margin-top: 10px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
@media screen and (max-width:599px) {
    body {
        font-size: 1.3em;
    }
    
}